.env_encoded
.env
service-account.json
*.json
__pycache__/
.DS_Store
*~
*.swp
.fuse_hidden*
.directory

# Python
__pycache__/
*.py[cod]
# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
